*.foam
case.pid
0.*
[1-9]*
*.o
*.deb
*.dep
lnInclude
linux*Gcc*/
linux*Icc*/
log.*
*/log.*
*/*/log.*
*/*/*/log.*
*.png
*/*/*/constant/polyMesh/*
!*/*/*/constant/polyMesh/blockMeshDict
*/*/*/0/tauXZPrime2Mean
*/*/*/0/cv
*/*/*/postProcessing
*/*/*/VTK

